@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: darkgray;
}

header {
    background-color: rgb(92, 92, 92);
    width: 100%;
    text-align: center;
    color: white;
    padding: 15px;
}

header h1 {
    font-size: 2em;
}

main {
    background-color: lightgray;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
}

article {
    background-color: white;
    padding: 10px;
    margin-bottom: 5px;
}

article h2 {
    font-size: 1.3em;
    padding: 5px;
    color: rgb(92, 92, 92);
}

article p {
    padding: 5px;
}